<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style2.css')}}">
</head>
<body>
  <h1>{{ post.threadTitle }}</h1>
  <div>
    · 작성일: {{ post.uploadDate }}
  </div>
  <hr>
  <pre>내용 : {{ post.threadBody }}</pre>
  <form>
    <button type="summit"><a href="{{ url_for('threadAll.allThreads') }}" >게시글 목록 보기</a></button>
  </form>
</body>
</html>